<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MUSICLOUD</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css">	
	<link rel="stylesheet" type="text/css" href="sass/extensions/bulma-divider.min.css">
	<link rel="stylesheet" href="src/css-spacing.css">
</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-5 is-offset-4">
					 <figure class="avatar">
                       <img src="img/logo_musi_2.png" alt="logo">
                      </figure>
                      <h3 class="title has-text-new-grey">Bem vindo novamente!</h3>
						<div class="is-12">                       
							<form>
								<div class="field is-grouped is-grouped-centered">
								  <p class="control">
									<a class=" btn_facebook button">
									 <i class="fa fa-facebook fa-2x " aria-hidden="true"></i> Facebook
									</a>
								  </p>
								  <p class="control">
									<a class=" btn_google button">
									 <i class="fa fa-google fa-2x " aria-hidden="true"></i> Google
									</a>
								  </p>
								</div>
								<div class="column is-6 is-offset-3"><div class="is-divider" data-content="O" ></div></div>

								 <h3 class="subtitle has-text-dark-blue has-text-weight-bold is-size-5">Entre com o seu email</h3>
								<div class="field mvl">
									<div class="control">
										<input class="input is-medium" type="email" placeholder="Email" autofocus="">
									</div>
								</div>

								<div class="field ">
									<div class="control has-icons-right">
										<input class="input is-medium" type="password" placeholder="Senha">
										<span class="icon is-small is-right">
										 <i class="fa fa-eye"></i>
										</span>
									</div>
								</div>
								<div class="field has-text-left">
									<label class="has-text-link is-link ">
									   <a class="button is-text has-text-dark-blue is-size-6 is-paddingless"  href="recuperarSenha.html">Esqueci minha senha</a>
									 </label>
								</div>
								<div class="field is-grouped is-grouped-centered">
									<button class="button is-block is-link is-large is-rounded mtl">Entrar</button>
								</div>							
							</form>
							  <div class="column is-6 is-offset-3"><div class="is-divider" data-content="O" ></div></div>
						</div>
                      <div class="field has-text-centered">
                        <label class="has-text-link ">
						  <a class="button is-text has-text-dark-blue has-text-weight-semibold is-size-5"  href="cadastro.html">Cadastre-se grátis</a>
               			 </label>
                      </div>
                </div>
            </div>
        </div>
    </section>
	
</body>
</html>